  <div class="row">
    <div class="col">
      <h5>
        <svg class="bi bi-person-bounding-box" width="7em" height="7em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1.5 1a.5.5 0 00-.5.5v3a.5.5 0 01-1 0v-3A1.5 1.5 0 011.5 0h3a.5.5 0 010 1h-3zM11 .5a.5.5 0 01.5-.5h3A1.5 1.5 0 0116 1.5v3a.5.5 0 01-1 0v-3a.5.5 0 00-.5-.5h-3a.5.5 0 01-.5-.5zM.5 11a.5.5 0 01.5.5v3a.5.5 0 00.5.5h3a.5.5 0 010 1h-3A1.5 1.5 0 010 14.5v-3a.5.5 0 01.5-.5zm15 0a.5.5 0 01.5.5v3a1.5 1.5 0 01-1.5 1.5h-3a.5.5 0 010-1h3a.5.5 0 00.5-.5v-3a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
          </svg>
        Perfil
      </h5> 
    </div>   
    <div class="col padding">
      <div class="row">
        <div>
          <h2 class="title text-success">
            Informacion del usuario:
          </h2>
          <form >
            <div class="form-group">
              <label>Identificacion: &nbsp;&nbsp;&nbsp;&nbsp;</label>
              <label>{{ cliente.identificacion}}</label>
            </div>
          <div class="row"> 
            <div class="form-group col">
              <label>Nombre</label>
              <input type="text" name="nombre" [(ngModel)]="cliente.nombre" class="form-control" [disabled]="isEnabled"/>
            </div>
            <div class="form-group col">
              <label>Apellido</label>
              <input type="text" name="apellido" [(ngModel)]="cliente.apellido" class="form-control" [disabled]="isEnabled"/>
            </div>
          </div>
          <div class="row"> 
            <div class="form-group col">
              <label>Tipo de persona</label>
              <select name="tipoPersona" class="form-control" [(ngModel)]="cliente.tipoPersona" [disabled]="isEnabled">
            
                <option value="Natural" >Natural</option>
            
                <option value="Juridica">Juridica</option>
            
              </select>
            </div>
            <div class="form-group col">
              <label>Correo</label>
              <input type="email" name="correo" [(ngModel)]="cliente.correo" class="form-control" disabled/>
            </div>
          </div>
          <div *ngIf="pais==null && isEnabled==true">
            <div class="text-center">
              <button class="btn btn-success mr-1" (click)="irAUbicacion()">Agregar ubicacion</button>
              <button class="btn btn-success mr-1" (click)="habilitarBoton()">Editar perfil</button>
            </div>
          </div>
          <div *ngIf="isEnabled!=true">
            <div class="text-center">
              <button class="btn btn-success mr-1" (click)="update()">Guardar cambios</button>
              <button class="btn btn-secondary mr-1" (click)="cancel()">Cancelar</button>
            </div>
          </div>
          </form>
        </div>
          
          </div>
      </div>
  </div>
