<header>
  <!--Administrador-->
  <div *ngIf="rol=='Admin'; else noAdmin">

    <nav
    class="navbar navbar-expand-lg navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-success box-shadow "
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <p class="text-white">
          <img src="./../../assets/Logo Florida Import.png" alt="Random first slide" class="imagen" width="200" height="80">
        </p>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-nav navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse row justify-content-center"
        [ngClass]="{ show: isExpanded }" 
      >
      <!--Input de buscar-->
      <div class="input-group input-group-sm">
        <input class="form-control border border-white col pInput" id="input-search" type="search" placeholder="¿Que estas buscando?">
        <div class="input-group-append pButton">
          <button class="btn btn-success border border-white">
            <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
      </div>

      <ul class="navbar-nav flex-grow margen justify-content-center">

        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link text-white" ngbDropdownToggle>
            Cliente
          </a>
          <div ngbDropdownMenu class="border border-success">
              <a class="dropdown-item text-success" [routerLink]="['/clienteConsulta']">Consultar</a>
              <a class="dropdown-item text-success" [routerLink]="['/clienteRegistro']">Registrar</a>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link text-white" ngbDropdownToggle>
            Proveedor
          </a>
          <div ngbDropdownMenu class="border border-success">
              <a class="dropdown-item text-success" [routerLink]="['/proveedorConsulta']">Consultar</a>
              <a class="dropdown-item text-success" [routerLink]="['/proveedorRegistro']">Registrar</a>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link text-white" ngbDropdownToggle>
            Productos
          </a>
          <div ngbDropdownMenu class="border border-success">
              <a class="dropdown-item text-success" [routerLink]="['/productoConsulta']">Consultar</a>
              <a class="dropdown-item text-success" [routerLink]="['/productoRegistro']">Registrar</a>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link text-white" ngbDropdownToggle>
            Países
          </a>
          <div ngbDropdownMenu class="border border-success">
              <a class="dropdown-item text-success" [routerLink]="['/paisConsulta']">Consultar</a>
              <a class="dropdown-item text-success" [routerLink]="['/paisRegistro']">Registrar</a>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link text-white" ngbDropdownToggle>
            Informes
          </a>
          <div ngbDropdownMenu class="border border-success">
              <a class="dropdown-item text-success" [routerLink]="['/clienteConsulta']">Inventario</a>
              <a class="dropdown-item text-success" [routerLink]="['/clienteRegistro']">Reportes</a>
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-white" [routerLink]="['/pedidosConsulta']"
            >Pedidos</a
          >
        </li>
      </ul>
      </div>
      <!------->
      <div
        class="navbar-nav navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse justify-content-center pInAdmin"
        [ngClass]="{ show: isExpanded }" 
      >

        <ul class="navbar-nav flex-grow">

        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link text-white" ngbDropdownToggle>
            <svg class="bi bi-bell" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2z"/>
              <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 004 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 00-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 111.99 0A5.002 5.002 0 0113 6c0 .88.32 4.2 1.22 6z" clip-rule="evenodd"/>
            </svg>
          </a>
          <div ngbDropdownMenu class="border border-success">
              <a class="dropdown-item text-success" ></a>
              <a class="dropdown-item text-success" ></a>
              <a class="dropdown-item text-success" ></a>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link text-white letra" ngbDropdownToggle>
            <svg class="bi bi-people-circle" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
              <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
            </svg>
            {{nombre}}</a>
          <div ngbDropdownMenu class="border border-success">
              <button class="dropdown-item text-success" (click)="salir()" onclick="location.reload()">Salir</button>
          </div>
        </li>
      </ul>
      <div>
      </div>
      </div>
    </div>
    </nav>
    <!------->        
    
  </div>
  <!--No es Administrador-->

  <ng-template #noAdmin>
    <!--Proveedor-->
    <div *ngIf="rol=='Prove'; else noProve">

      <nav
      class="navbar navbar-expand-lg navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-success box-shadow "
    >
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">
          <p class="text-white">
            <img src="./../../assets/Logo Florida Import.png" alt="Random first slide" class="imagen" width="200" height="80">
          </p>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target=".navbar-collapse"
          aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded"
          (click)="toggle()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="navbar-nav navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse row justify-content-center"
          [ngClass]="{ show: isExpanded }" 
        >
        <!--Input de buscar-->
        <div class="input-group input-group-sm">
          <input class="form-control border border-white col pInput" id="input-search" type="search" placeholder="¿Que estas buscando?">
          <div class="input-group-append pButton">
            <button class="btn btn-success border border-white">
              <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
        </div>
  
        <ul class="navbar-nav flex-grow margen justify-content-center">
  
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/productoProveedorRegistro']"
              >Registrar productos</a
            >
          </li>
          <!--- <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white" [routerLink]="['/productoProveedorConsulta']"
              >Consultar productos</a
            >
          </li>-->
        </ul>
        </div>
        <!------->
        <div
          class="navbar-nav navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse justify-content-center pInAdmin"
          [ngClass]="{ show: isExpanded }" 
        >
  
          <ul class="navbar-nav flex-grow">
  
          <li ngbDropdown class="nav-item">
            <a href (click)="false" class="nav-link text-white" ngbDropdownToggle>
              <svg class="bi bi-bell" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2z"/>
                <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 004 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 00-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 111.99 0A5.002 5.002 0 0113 6c0 .88.32 4.2 1.22 6z" clip-rule="evenodd"/>
              </svg>
            </a>
            <div ngbDropdownMenu class="border border-success">
                <a class="dropdown-item text-success" ></a>
                <a class="dropdown-item text-success" ></a>
                <a class="dropdown-item text-success" ></a>
            </div>
          </li>
          <li ngbDropdown class="nav-item">
            <a href (click)="false" class="nav-link text-white letra" ngbDropdownToggle>
              <svg class="bi bi-people-circle" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
                <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
              </svg>
              {{nombre}}</a>
            <div ngbDropdownMenu class="border border-success">
                <button class="dropdown-item text-success" (click)="salir()" onclick="location.reload()">Salir</button>
            </div>
          </li>
        </ul>
        <div>
        </div>
        </div>
      </div>
      </nav>
      <!------->        
      
    </div>

    <!--No es Proveedor-->
    <ng-template #noProve>
  <nav
    class="navbar navbar-expand-lg navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-success box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <p class="text-white">
          <img src="./../../assets/Logo Florida Import.png" alt="Random first slide" class="imagen" width="200" height="80">
        </p>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="navbar-nav navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse row justify-content-center"
        [ngClass]="{ show: isExpanded }" 
      >
      <!--Input de buscar-->
      <div class="input-group input-group-sm">
        <input class="form-control border border-white col pInput" id="input-search" type="search" placeholder="¿Que estas buscando?">
        <div class="input-group-append pButton">
          <button class="btn btn-success border border-white">
            <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
      </div>

        <ul class="navbar-nav flex-grow margen">
      
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
        <a class="nav-link text-white letra" href="#productos">Productos</a>
          </li>
          <li ngbDropdown class="nav-item">
            <a href (click)="false" class="nav-link text-white letra" ngbDropdownToggle>Categorías</a>
            <div ngbDropdownMenu class="border border-success">
                <a class="dropdown-item text-success" [routerLink]="['/frutasConsulta']">Frutas</a>
                <a class="dropdown-item text-success" [routerLink]="['/verdurasConsulta']">Verduras</a>
                <a class="dropdown-item text-success" [routerLink]="['/hortalizasConsulta']">Hortalizas</a>
            </div>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white letra" [routerLink]="['/pedidosConsulta']"
              >Historial</a
            >
          </li>
          <li ngbDropdown class="nav-item">
            <a href (click)="false" class="nav-link text-white letra" ngbDropdownToggle>Ayuda</a>
            <div ngbDropdownMenu class="border border-success">
                <a class="dropdown-item text-success" href="https://www.calameo.com/read/006318531c786008fd4fe" target="_blank">Manual de usuario</a>
                
            </div>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white letra" [routerLink]="['/formularioContacto']"
              >Contáctenos</a
            >
          </li>
        </ul>
      </div>
      <div>
      <ul class="navbar-nav flex-grow">
        <!--Cliente-->
        <div *ngIf="rol=='Clien'" class="navbar-nav navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse nav justify-content-center row"
        [ngClass]="{ show: isExpanded }">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-white" [routerLink]="['/pedidoRegistro']">
            <svg class="bi bi-cart2" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg>
            {{num}} Items
          </a>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link text-white letra" ngbDropdownToggle>
            <svg class="bi bi-people-circle" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
              <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
            </svg>
            {{nombre}}</a>
          <div ngbDropdownMenu class="border border-success">
              <a class="dropdown-item text-success"  [routerLink]="['/personaPerfil']">Perfil</a>
              <button class="dropdown-item text-success" (click)="salir()">Salir</button>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link text-white" ngbDropdownToggle>
            <svg class="bi bi-bell" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 16a2 2 0 002-2H6a2 2 0 002 2z"/>
              <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 004 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 00-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 111.99 0A5.002 5.002 0 0113 6c0 .88.32 4.2 1.22 6z" clip-rule="evenodd"/>
            </svg>
          </a>
          <div ngbDropdownMenu class="border border-success">
              <a class="dropdown-item text-success" ></a>
              <a class="dropdown-item text-success" ></a>
              <a class="dropdown-item text-success" ></a>
          </div>
        </li>
        </div>
        <!--Sin ingreso-->
        <div *ngIf="rol===null" class="navbar-nav navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse nav justify-content-center row"
        [ngClass]="{ show: isExpanded }">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-white letra" [routerLink]="['/pedidoRegistro']">
            <svg class="bi bi-cart2" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg>
            {{num}} Items
          </a>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link text-white letra" ngbDropdownToggle>Crea tu cuenta</a>
          <div ngbDropdownMenu class="border border-success">
              <a class="dropdown-item text-success"  [routerLink]="['/clienteRegistro']">Soy Cliente</a>
              <a class="dropdown-item text-success" [routerLink]="['/proveedorRegistro']">Soy Proveedor</a>
          </div>
        </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-white letra" [routerLink]="['/ingreso']"
              >Ingresa</a
            >
          </li>
        </div>
        </ul>
    </div>
    </div>
  </nav>
</ng-template>
</ng-template>
</header>



