<div class="container">

    <div class="row">
    
    <div class="col-md-6 offset-md-3">
    
    <h2 class="text-success Padding">Contactenos</h2>
    
    <form class="Padding">
    
  <div class="row">
    <div class="form-group col">
    
    <input type="text" name="nombre" formControlName="nombre" class="form-control border border-success" 
    placeholder="Nombre"/>
    </div>
    
    <div class="form-group col">
  
      <input type="text" name="telefono" formControlName="apellido" class="form-control border border-success" 
      placeholder="Telefono" />
      
    </div>

  </div>

  <div class="form-group ">
    
    <input type="email" name="correo" formControlName="correo" class="form-control border border-success" 
    placeholder="email@example.com"/>
    
</div>

    <div class="form-group">
      
      <textarea type="text" name="Mensaje" formControlName="Mensaje" class="form-control border border-success" 
      placeholder="Escribe tu mensaje"></textarea>

    </div>
  
    <div class="text-center">
        
    <button class="btn btn-success mr-1">Enviar mensaje</button>
    
    <button class="btn btn-secondary" type="reset">Cancel</button>
    
    </div>
    
    </form>
    
    </div>
    
    </div>
    
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
