<div class="container">

    <div class="row margenPringipal">
   <div class="img">
    <img src="{{producto.imagen}}" width="250em" height="200em">
  </div>
    <div class="col-md-6 offset-md-3 margen">
    
    <h2 class="text-success" id="PaddingText"><strong> DATOS DEL PRODUCTO</strong></h2>
      <br />
    
    <form id="Padding">
    <div class="form-group">
        <label><strong>Código: &nbsp;&nbsp;&nbsp;&nbsp;</strong></label>
        <label>{{producto.codigo}}</label>
     </div>
    
    <div class="row">
        
    <div class="form-group col">
    
    <label><strong>Nombre</strong></label>
    
    <input type="text" name="nombre" [(ngModel)]="producto.nombre" class="form-control sinborde" />
    </div>
    
    <div class="form-group col">
    
      <label><strong>Descripción</strong></label>
  
      <textarea type="text" name="descripcion" [(ngModel)]="producto.descripcion" class="form-control sinborde"></textarea>
    
    </div>
  
  </div>
    <div class="row">
    <div class="form-group col">
    
      <label><strong>Cantidad</strong></label>
      
      <input type="number" name="cantidad" [(ngModel)]="producto.cantidad" class="form-control sinborde" />
    </div>
    
      <div class="form-group">
    
        <label><strong>Precio</strong></label>
        
        <input type="number" name="precio" [(ngModel)]="producto.precio" class="form-control sinborde" />
     </div>
  </div>
  
  <div class="row">
    <div class="form-group col">
  
      <label><strong>Tipo de producto</strong></label>
      
      <input type="text" name="tipo" [(ngModel)]="producto.tipo" class="form-control sinborde" />
      
    </div>
 
     <div class="form-group col">
    
      <label><strong>Proveedor</strong></label>
      
      <input type="text" name="proveedor" [(ngModel)]="producto.proveedor" class="form-control sinborde" />
      
   </div>
  </div>
  
    <div class="text-center">
        <button class="btn btn-success mr-1" (click)="update()" >Actualizar</button>
        <button class="btn btn-success mr-1" (click)="delete()">Eliminar</button>
    </div>
    
    </form>
    
    </div>
    
    </div>
    
    </div>
  
    <footer class="footer">
      <p id="margen">&copy; Company 2017-2019</p>
    </footer>
