<div class="container">

    <div class="row">
    
    <div class="col-md-6 offset-md-3">
    
    <h2 class="text-success" id="PaddingText">Datos del Producto</h2>
    
    <form id="Padding">
    <div class="form-group">
        <label>Codigo: &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label>{{producto.codigo}}</label>
     </div>
    
    <div class="row">
        
    <div class="form-group col">
    
    <label>Nombre</label>
    
    <input type="text" name="nombre" [(ngModel)]="producto.nombre" class="form-control" />
    </div>
    
    <div class="form-group col">
    
      <label>Descripcion</label>
  
      <textarea type="text" name="descripcion" [(ngModel)]="producto.descripcion" class="form-control"></textarea>
    
    </div>
  
  </div>
    <div class="row">
    <div class="form-group col">
    
      <label>Cantidad</label>
      
      <input type="number" name="cantidad" [(ngModel)]="producto.cantidad" class="form-control" />
    </div>
    
      <div class="form-group">
    
        <label>Precio</label>
        
        <input type="number" name="precio" [(ngModel)]="producto.precio" class="form-control" />
     </div>
  </div>
  
  <div class="row">
    <div class="form-group col">
  
      <label>Tipo de producto</label>
      
      <input type="text" name="tipo" [(ngModel)]="producto.tipo" class="form-control" />
      
    </div>
 
     <div class="form-group col">
    
      <label>Proveedor</label>
      
      <input type="text" name="proveedor" [(ngModel)]="producto.proveedor" class="form-control" />
      
   </div>
  </div>
  
    <div class="text-center">
        <button class="btn btn-primary mr-1" (click)="update()" >Actualizar</button>
        <button class="btn btn-primary mr-1" (click)="delete()">Eliminar</button>
        <button class="btn btn-secondary" type="reset">Cancel</button>
    </div>
    
    </form>
    
    </div>
    
    </div>
    
    </div>
  
    <footer class="container">
      <p>&copy; Company 2017-2019</p>
    </footer>