<div *ngIf="rol=='Admin'; else noAdmin">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>
<ng-template #noAdmin>
<ngb-carousel class="carrusel">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./../../assets/Frutas.jpg" alt="Random first slide" class="imagen">
    </div>
    <div class="carousel-caption">
      <h1>FRUTAS FRESCAS.</h1>
      <p>Las mejores frutas, con la mayor frescura y la mejor calidad.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./../../assets/Importacion.jpg" alt="Random second slide" class="imagen">
    </div>
    <div class="carousel-caption">
      <h1>IMPORTACIONES Y EXPORTACIONES.</h1>
      <p>Comercializamos nuestras frutas por toda la region, para que puedas disfrutarlas.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./../../assets/EntregaDomicilio.png" alt="Random third slide" class="imagen">
    </div>
    <div class="carousel-caption text-danger">
      <h1>ESPERALAS EN CASA.</h1>
      <p>Pidelas YA y recibelas en tu domicilio.</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="container Padding">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-success">Nuestra empresa</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" [routerLink]="['/nosotrosConsulta']" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2 class="text-success">Nuestras agencias</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" [routerLink]="['/nosotrosConsulta']" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2 class="text-success">Nuestros productos</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" [routerLink]="['/nosotrosConsulta']" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->
</ng-template>

<footer class="container">
  <p>&copy; Company 2017-2019</p>
</footer>
