<div *ngIf="rol=='Admin'; else noAdmin">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="card margin border border-dark" >
          <div class="card-header bg-dark border border-dark text-white textheader">
            Vista rápida
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3 ">
                <div class="card border border-dark" >
                  <div class="card-body bg-light">
                    <div class="row">
                      <div class="col-sm-4">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                      </div>
                      <div class="col-sm-8">
                        <p class="pNumber">{{numeroCliente}}</p>
                      </div>
                    </div>
                    <p class="pCard">Clientes</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 ">
                <div class="card border border-dark" >
                  <div class="card-body bg-light">
                    <div class="row">
                      <div class="col-sm-4">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-truck" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                        </svg>
                      </div>
                      <div class="col-sm-8">
                        <p class="pNumber">{{numeroProveedor}}</p>
                      </div>
                    </div>
                    <p class="pCard">Proveedores</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 " >
                <div class="card border border-dark" >
                  <div class="card-body bg-light">
                    <div class="row">
                      <div class="col-sm-4">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-check-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                        </svg>
                      </div>
                      <div class="col-sm-8">
                        <p class="pNumber">{{numeroProducto}}</p>
                      </div>
                    </div>
                    <p class="pCard">Productos</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 " >
                <div class="card border border-dark" >
                  <div class="card-body bg-light">
                    <div class="row">
                      <div class="col-sm-4">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-clipboard-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                          <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                      </div>
                      <div class="col-sm-8">
                        <p class="pNumber">{{totalVendido | currency: ' COP ' :true:'1.1-2'}}</p>
                      </div>
                    </div>
                    <p class="pCard">En Ventas</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
<ng-template #noAdmin>
  <div class="row Padding1 " *ngIf="rol=='Prove'; else noProve">
      <div class="col">
        <h5>
          <svg width="7em" height="7em" viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          </svg>
        </h5> 
      </div>   
      <div class="col padding">
        <div class="row">
          <div>
            <h2 class="title text-success Paggingbootm">
              Información del usuario:
            </h2>
            <form >
              <div class="form-group">
                <label>Identificación: &nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label>{{ proveedor.identificacion}}</label>
              </div>
            <div class="row"> 
              <div class="form-group col">
                <label>Nombre</label>
                <input type="text" name="nombre" [(ngModel)]="proveedor.nombre" class="form-control" [disabled]="isEnabled"/>
              </div>
              <div class="form-group col">
              <label>Descripción</label>
                <textarea type="text" name="descripcion" [(ngModel)]="proveedor.descripcion" class="form-control" [disabled]="isEnabled"></textarea>
              </div>
            </div>
            <div class="row"> 
              <div class="form-group col">
                <label>Correo</label>
                <input type="email" name="correo" [(ngModel)]="proveedor.correo" class="form-control" disabled/>
              </div>
            </div>
            <div *ngIf="isEnabled==true">
              <div class="text-center">
                <button class="btn btn-success mr-1" (click)="habilitarBoton()">Editar perfil</button>
              </div>
            </div>
            <div *ngIf="isEnabled!=true">
              <div class="text-center">
                <button class="btn btn-success mr-1" (click)="update()">Guardar cambios</button>
                <button class="btn btn-secondary mr-1" (click)="cancel2()">Cancelar</button>
              </div>
            </div>
            <br>
            <hr>
            <div class="col-sm-12 d-flex justify-content-center">
              <a class="text-success text-center" routerLink='/productoProveedorConsulta/{{id}}'><h5>Consultar productos &raquo;</h5></a>
            </div>
            </form>
          </div>
            
            </div>
        </div>
  </div>
<ng-template #noProve>
<ngb-carousel class="carrusel">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./../../assets/Productos.jpg" alt="Random first slide" class="imagen">
    </div>
    <div class="carousel-caption">
      <h1 class="titulo">FRUTAS, VERDURAS Y <br/> HORTALIZAS FRESCAS.</h1>
      <p class="parrafo">Nuestros productos cuentan con la mayor frescura y la mejor calidad.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./../../assets/BannerFruta.jpg" alt="Random third slide" class="imagen">
    </div>
    <div class="carousel-caption text-success">
      <h1>DISFRUTA SUS BENEFICIOS.</h1>
      <p>El sabor de las frutas, la frescura de las verduras y <br> lo saludable de las hortalizas.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="./../../assets/Importacion.jpg" alt="Random second slide" class="imagen">
    </div>
    <div class="carousel-caption">
      <h1>IMPORTACIONES Y EXPORTACIONES.</h1>
      <p>Comercializamos nuestras frutas por toda la región, para que puedas disfrutarlas.</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="containerProduc Padding margenp">
  <!-- Example row of columns -->
  <a name="productos">
    <h2 class="text-success">Frutas</h2>
    <hr heigth="10px">
    <div class="row">
     <div class="col-md-4" *ngFor="let fruta of frutas; index as i" >
      <img src="{{fruta.imagen}}" width="250em" height="200em"> 
        <svg class="bi bi-card-image justify-content-center" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        
          <!-- <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/>
          <path d="M10.648 7.646a.5.5 0 01.577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z"/>
          <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"/> -->
        </svg>
        <h3>{{fruta.nombre}}</h3>
        <p>{{fruta.descripcion}}</p>
        <p>{{fruta.precio | currency: ' COP ' :true:'1.1-2'}}</p>
        <p>Unds Disponibles: {{fruta.cantidad}}</p>
       <div *ngIf="codigo==fruta.codigo">
        <div class="row">
        <div class="input-group col " padding-left = "40px">
          <div class="input-group-append" >
            <button class="btn btn-danger border border-secondary" width="1em" height="1.5em" (click)="menos(fruta.codigo)" [disabled]="mIsEnable">
              <svg class="bi bi-dash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
          <input type="text" name="cantidad" [(ngModel)]="mensaje" class="form-control " disabled/>
          <div class="input-group-append">
          <button class="btn btn-success border border-secondary" width="1em" height="1.5em" (click)="mas(fruta.codigo)" >
            <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
            </svg>
          </button>
          </div>
          
        </div>
        <div class="col boton">
          <button class="btn btn-secondary " role="button" (click)="agregar(fruta)" >Agregar &raquo; 
        </button>
        </div>
        </div>
        </div>
        <div *ngIf="codigo!=fruta.codigo">
        <div class="row">
          <div class="input-group col " padding-left = "40px">
            <div class="input-group-append" >
              <button class="btn btn-danger border border-secondary" width="1em" height="1.5em" (click)="menos(fruta.codigo)" [disabled]="mIsEnable">
                <svg class="bi bi-dash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                </svg>
              </button>
            </div>
            <input type="text" name="cantidad" [(ngModel)]="mensajeNuevo" class="form-control " disabled/>
            <div class="input-group-append">
            <button class="btn btn-success border border-secondary" width="1em" height="1.5em" (click)="mas(fruta.codigo)" >
              <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
              </svg>
            </button>
            </div>
          </div>
          <div class="col boton">
            <button class="btn btn-secondary " role="button" (click)="agregar(fruta)" padding-rigth = "40px">Agregar &raquo; 
          </button>
          </div>
          </div>
        </div>
      <br>
      </div>
    </div>
  <br>
  <div class="col-sm-12 d-flex justify-content-center">
    <a class="text-success text-center" [routerLink]="['/frutasConsulta']" ><h3>Ver más Frutas &raquo;</h3></a>
  </div>
  <hr style="color: black;"/>
  <br>
  <h2 class="text-success">Verduras</h2>
  <hr heigth="10px">
  <div class="row">
   <div class="col-md-4" *ngFor="let verdura of verduras; index as i " >
    <img src="{{verdura.imagen}}" width="250em" height="200em">
      <svg class="bi bi-card-image justify-content-center" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <!--<path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/>
        <path d="M10.648 7.646a.5.5 0 01.577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z"/>
        <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"/>-->
      </svg>
      <h3>{{verdura.nombre}}</h3>
      <p>{{verdura.descripcion}}</p>
      <p>{{verdura.precio | currency: ' COP ' :true:'1.1-2'}}</p>
      <p>Unds Disponibles: {{verdura.cantidad}}</p>
     <div *ngIf="codigo==verdura.codigo">
      <div class="row">
      <div class="input-group col " padding-left = "40px">
        <div class="input-group-append" >
          <button class="btn btn-danger border border-secondary" width="1em" height="1.5em" (click)="menos(verdura.codigo)" [disabled]="mIsEnable">
            <svg class="bi bi-dash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
        <input type="text" name="cantidad" [(ngModel)]="mensaje" class="form-control " disabled/>
        <div class="input-group-append">
        <button class="btn btn-success border border-secondary" width="1em" height="1.5em" (click)="mas(verdura.codigo)" >
          <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
          </svg>
        </button>
        </div>
        
      </div>
      <div class="col">
        <button class="btn btn-secondary boton" role="button" (click)="agregar(verdura)" padding-rigth = "40px">Agregar &raquo; 
      </button>
      </div>
      </div>
      </div>
      <div *ngIf="codigo!=verdura.codigo">
      <div class="row">
        <div class="input-group col " padding-left = "40px">
          <div class="input-group-append" >
            <button class="btn btn-danger border border-secondary" width="1em" height="1.5em" (click)="menos(verdura.codigo)" [disabled]="mIsEnable">
              <svg class="bi bi-dash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
          <input type="text" name="cantidad" [(ngModel)]="mensajeNuevo" class="form-control " disabled/>
          <div class="input-group-append">
          <button class="btn btn-success border border-secondary" width="1em" height="1.5em" (click)="mas(verdura.codigo)" >
            <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
            </svg>
          </button>
          </div>
        </div>
        <div class="col">
          <button class="btn btn-secondary " role="button" (click)="agregar(verdura)" padding-rigth = "40px">Agregar &raquo; 
        </button>
        </div>
        </div>
      </div>
    <br>
    </div>
  </div>
  <br>
  <div class="col-sm-12 d-flex justify-content-center">
    <a class="text-success text-center" [routerLink]="['/verdurasConsulta']" ><h3>Ver más Verduras &raquo;</h3></a>
  </div>
  <hr style="color: black;"/>
  <br>
  <h2 class="text-success">Hortalizas</h2>
  <hr heigth="10px">
  <div class="row">
   <div class="col-md-4" *ngFor="let hortaliza of hortalizas; index as i " >
    <img src="{{hortaliza.imagen}}" width="250em" height="200em">
      <svg class="bi bi-card-image justify-content-center" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <!--<path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/>
        <path d="M10.648 7.646a.5.5 0 01.577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z"/>
        <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"/>-->
      </svg>
      <h3>{{hortaliza.nombre}}</h3>
      <p>{{hortaliza.descripcion}}</p>
      <p>{{hortaliza.precio | currency: ' COP ' :true:'1.1-2'}}</p>
      <p>Unds Disponibles: {{hortaliza.cantidad}}</p>
     <div *ngIf="codigo==hortaliza.codigo">
      <div class="row">
      <div class="input-group col " padding-left = "40px">
        <div class="input-group-append" >
          <button class="btn btn-danger border border-secondary" width="1em" height="1.5em" (click)="menos(hortaliza.codigo)" [disabled]="mIsEnable">
            <svg class="bi bi-dash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
        <input type="text" name="cantidad" [(ngModel)]="mensaje" class="form-control " disabled/>
        <div class="input-group-append">
        <button class="btn btn-success border border-secondary" width="1em" height="1.5em" (click)="mas(hortaliza.codigo)" >
          <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
          </svg>
        </button>
        </div>
        
      </div>
      <div class="col">
        <button class="btn btn-secondary " role="button" (click)="agregar(hortaliza)" padding-rigth = "40px">Agregar &raquo; 
      </button>
      </div>
      </div>
      </div>
      <div *ngIf="codigo!=hortaliza.codigo">
      <div class="row">
        <div class="input-group col " padding-left = "40px">
          <div class="input-group-append" >
            <button class="btn btn-danger border border-secondary" width="1em" height="1.5em" (click)="menos(hortaliza.codigo)" [disabled]="mIsEnable">
              <svg class="bi bi-dash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
          <input type="text" name="cantidad" [(ngModel)]="mensajeNuevo" class="form-control " disabled/>
          <div class="input-group-append">
          <button class="btn btn-success border border-secondary" width="1em" height="1.5em" (click)="mas(hortaliza.codigo)" >
            <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
            </svg>
          </button>
          </div>
        </div>
        <div class="col">
          <button class="btn btn-secondary " role="button" (click)="agregar(hortaliza)" padding-rigth = "40px">Agregar &raquo; 
        </button>
        </div>
        </div>
      </div>
    <br>
    </div>
  </div>
  <br>
  <div class="col-sm-12 d-flex justify-content-center">
    <a class="text-success text-center" [routerLink]="['/hortalizasConsulta']" ><h3>Ver más Hortalizas &raquo;</h3></a>
  </div>
  </a>
  <hr>

</div> <!-- /container -->
</ng-template>
</ng-template>

<footer class="footer">
  <p id="margen">&copy; Company 2017-2019</p>
</footer>
