<div class="image">

    <div class="picsum-img-wrapper d-flex justify-content-center">
      <img src="./../../assets/Fruta.jpg" alt="Random first slide" class="imagen" >
    </div>
    <div class="carousel-caption">
      <h1>FRUTAS FRESCAS.</h1>
      <p>Las mejores frutas, con la mayor frescura y la mejor calidad.</p>
    </div>
  
</div>
<hr />
<div class="col-6 col margenp">
  <input [(ngModel)]="searchText" type="text" class="form-control sinborde" placeholder="Flitrar">
 </div>
   <hr heigth="10px">
   <hr>
   <div class="row">
    <div class="col-md-4" *ngFor="let fruta of frutas|filtroProducto:searchText; index as i " >
      <img src="{{fruta.imagen}}" width="250em" height="200em">
      <svg class="bi bi-card-image justify-content-center" width="5em" height="5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <!--<path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z" clip-rule="evenodd"/>
        <path d="M10.648 7.646a.5.5 0 01.577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z"/>
        <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" clip-rule="evenodd"/>-->
      </svg>
      <h3>{{fruta.nombre}}</h3>
      <p>{{fruta.descripcion}}</p>
      <p>{{fruta.precio | currency: ' COP ' :true:'1.1-2'}}</p>
      <p>Unds Disponibles: {{fruta.cantidad}}</p>
      <div *ngIf="codigo==fruta.codigo">
        <div class="row">
        <div class="input-group col " padding-left = "40px">
          <div class="input-group-append" >
            <button class="btn btn-danger border border-secondary" width="1em" height="1.5em" (click)="menos(fruta.codigo)" [disabled]="mIsEnable">
              <svg class="bi bi-dash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
              </svg>
            </button>
          </div>
          <input type="text" name="cantidad" [(ngModel)]="mensaje" class="form-control " disabled/>
          <div class="input-group-append">
          <button class="btn btn-success border border-secondary" width="1em" height="1.5em" (click)="mas(fruta.codigo)" >
            <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
              <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
            </svg>
          </button>
          </div>
          
        </div>
        <div class="col">
          <button class="btn btn-secondary " role="button" (click)="agregar(fruta)" padding-rigth = "40px">Agregar &raquo; 
        </button>
        </div>
        </div>
        </div>
        <div *ngIf="codigo!=fruta.codigo">
        <div class="row">
          <div class="input-group col " padding-left = "40px">
            <div class="input-group-append" >
              <button class="btn btn-danger border border-secondary" width="1em" height="1.5em" (click)="menos(fruta.codigo)" [disabled]="mIsEnable">
                <svg class="bi bi-dash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3.5 8a.5.5 0 01.5-.5h8a.5.5 0 010 1H4a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                </svg>
              </button>
            </div>
            <input type="text" name="cantidad" [(ngModel)]="mensajeNuevo" class="form-control " disabled/>
            <div class="input-group-append">
            <button class="btn btn-success border border-secondary" width="1em" height="1.5em" (click)="mas(fruta.codigo)" >
              <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
              </svg>
            </button>
            </div>
          </div>
          <div class="col">
            <button class="btn btn-secondary " role="button" (click)="agregar(fruta)" padding-rigth = "40px">Agregar &raquo; 
          </button>
          </div>
          </div>
        </div>
    <br>
    </div>
  </div>

  <br>
  <hr>
  <footer class="footer">
    <p id="margen">&copy; Company 2017-2019</p>
  </footer>