<div class="container">

    <div class="row">
    
    <div class="col-md-6 offset-md-3">
    
    <h2 class="text-success" id="PaddingText">Registra tu ubicacion</h2>
    
    <form [formGroup]="formGroup" id="Padding">
    
    <div class="row">
    <div class="form-group col">
    
    <label>Pais</label>
    
    <select name="pais" class="form-control border border-success" formControlName="pais">
        
      <option value="Paises" *ngFor="let pais of paises" selected>
          {{pais.nombre}}
        </option>
  
    </select>
    
    </div>
    
    <div class="form-group col">
    
      <label>Ciudad</label>
  
      <select name="ciudad" class="form-control border border-success" formControlName="ciudad">
        
        <option value="ciudad.nombre" *ngFor="let ciudad of ciudades" selected>
            {{ciudad.nombre}}
          </option>
    
      </select>
    
    </div>
  
  </div>
    <div class="row">
    <div class="form-group col">
    
      <label>Direccion</label>
      
      <input type="text" name="direccion" formControlName="direccion" class="form-control border border-success" 
      placeholder="Direccion"/>
      
      </div>
    
    <div class="form-group col">
    
    <label>Barrio</label>
    
    
    
    </div>
  </div>
    
    <div class="form-group">
    
        <label>Codigo postal</label>
        
        <input type="text" name="codigoPostal" formControlName="codigoPostal" class="form-control border border-success" 
        placeholder="codigo Postal"/>
        
     </div>
  
     <div class="form-group">
    
      <label>Telefono</label>
      <div class="input-group">
      <input type="text" name="telefono" formControlName="telefono" class="form-control border border-success col" 
      placeholder="Telefono" />
      </div>
      
   </div>
  
    <div class="text-center">
        
    <button class="btn btn-success mr-1">Registrar</button>
    
    <button class="btn btn-secondary" type="reset">Cancel</button>
    
    </div>
    
    </form>
    
    </div>
    
    </div>
    
    </div>
  
    <footer class="container">
      <p>&copy; Company 2017-2019</p>
    </footer>
