<div class="container">

  <div class="row">
  
  <div class="col-md-6 offset-md-3 card border-success">
  
    <div class="header">
      <h2 class="text-success title" >Login</h2>
    </div>
  <form [formGroup]="formGroup" id="Padding">
  
  <div class="form-group">
      
      <input type="email" name="correo" formControlName="correo" class="form-control border border-success" 
      placeholder="email" [ngClass]="{ 'is-invalid': control.correo.errors && formGroup.get('correo').touched}"/>

      <div *ngIf="control.correo.errors" class="invalid-feedback">

        <div *ngIf="control.correo.errors.required">Se require el correo</div>
        <div *ngIf="control.correo.errors.email">{{control.correo.value}} No corresponde a un correo electronico. Por favor, 
          asegurese de digitar bien su correo.</div>

      </div>
   </div>

   <div class="form-group">
    
    <input type="password" name="contrasena" formControlName="contrasena" class="form-control border border-success" 
    placeholder="Contraseña" [ngClass]="{ 'is-invalid': control.contrasena.errors && formGroup.get('contrasena').touched}"/>

    <div *ngIf="control.contrasena.errors" class="invalid-feedback">

      <div *ngIf="control.contrasena.errors.required">Se require la contraseña</div>
      <div *ngIf="control.contrasena.errors.minLength">La contraseña debe contener minimo 8 caracteres</div>
      <div *ngIf="control.contrasena.errors.maxLength">La contraseña debe contener maximo 20 caracteres</div>
    </div>
    
 </div>

  <div class="text-center">
      
  <button class="btn btn-success mr-1"(click)="acceder()" [disabled]="formGroup.invalid">Ingresar</button>
  
  <button class="btn btn-secondary" type="reset">Cancel</button>
  
  </div>
  
  </form>
  
  </div>
  
  </div>
  
  </div>

  <footer class="container">
    <p>&copy; Company 2017-2019</p>
  </footer>