<h2 class="text-success paddingText text-uppercase"><strong>PRODUCTOS DE {{nombre}}</strong></h2>
<br />

<h6><strong>{{correo}}</strong></h6>

<div class="row paddingText">

    <div class="col-6">
    
    <input [(ngModel)]="searchText" type="text" class="form-control sinborde" placeholder="Filtrar">
    
    </div>
    
    </div>
    
    <hr>
    
    <table class="table table-striped" *ngIf='productos && productos.length'>
    
    <thead class="thead-dark">
    
    <tr>
    
    <th scope="col">#</th>
    
    <th scope="col">Código</th>
    
    <th scope="col">Nombre </th>
    
    <th scope="col">Precio</th>
    
    <th scope="col">Categoría del producto</th>
    
    </tr>
    
    </thead>
    
    <tbody>
    
    <tr *ngFor="let producto of productos|filtroProducto:searchText; index as i ">
    
    <th scope="row">{{ i + 1 }}</th>
    
    <td>{{ producto.codigo }} </td>
    
    <td>{{ producto.nombre }}</td>
    
    <td>{{ producto.precio | currency: ' COP ' :true:'1.1-2'}}</td>

    <td>{{ producto.tipo }}</td>

    </tr>
    
    </tbody>
    
    </table>

    <div class="text-center paddingText">
      <button class="btn btn-success mr-1" (click)="delete()">Eliminar</button>
    </div>

    <hr>
    
<footer class="footer">
    <p id="margen">&copy; Company 2017-2019</p>
</footer>
