<div *ngIf="pagar==false">

<div class="col-sm-12 d-flex justify-content-center" >
    <h2 class="text-success paddingText">Consulta del carrito</h2>
</div>
    
    <hr>
<div class="row">
    <div class="col">
    <div class="row" *ngIf="encontrado==true">
        <div class="col">
            <label>Identificacion: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>{{cliente.identificacion}}</label>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="row" *ngIf="encontrado==true">
        <div class="col">
            <label>Nombre: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>{{cliente.nombre}} &nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
    </div>
    </div>
    <div class="col">
    <div class="row" *ngIf="encontrado==true">
        <div class="col">
            <label>Apellido: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label>{{cliente.apellido}} &nbsp;&nbsp;&nbsp;&nbsp;</label>
        </div>
    </div>
    </div>
</div>
    <hr>
    
    <table class="table table-striped" *ngIf='list && list.length'>
    
    <thead>
    
    <tr>
    
    <th scope="col">#</th>
    
    <th scope="col">Códio</th>
    
    <th scope="col">Nombre</th>
    
    <th scope="col">Precio</th>
    
    <th scope="col">Cantidad</th>

    <th scope="col">Total</th>
    
    </tr>
    
    </thead>
    
    <tbody>
    
    <tr *ngFor="let producto of list; index as i ">
    
    <th scope="row">{{ i + 1 }}</th>
    
    <td>{{ producto.codigo }} </td>
    
    <td>{{ producto.nombre }}</td>
    
    <td>{{ producto.precio | currency: ' COP ' :true:'1.1-2' }}</td>
    
    <td>{{ producto.cantidad }}</td>

    <td>{{ producto.total | currency: ' COP ' :true:'1.1-2' }}</td>
    
    <td>
        <button class="btn btn-secondary " role="button" (click)="eliminarProducto(producto.codigo)" padding-rigth = "40px">
            <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>
    </td>

    </tr>
    
    </tbody>
    
    </table>

    <div>
        <label>Total del pedido: &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label>{{totalPedido | currency: ' COP ' :true:'1.1-2' }}</label>
    </div>
    <div class="col-sm-12 d-flex justify-content-center" *ngIf="encontrado==false">
        <a class="text-success text-center" [routerLink]="['/ingreso']" ><h5>Por favor ingrese a su cuenta para terminar la compra &raquo;</h5></a>
    </div>
    <div class="col-sm-12 d-flex justify-content-center" *ngIf="encontrado==true">
        <button class="btn btn-secondary" role="button" (click)="irAPagar()">Comprar &raquo;</button>
    </div>
</div>

<div *ngIf="pagar==true">

    <div class="col-sm-12 d-flex justify-content-center" >
        <h2 class="text-success paddingText">Registro de pago</h2>
    </div>
    <hr>
    <div class="col-sm-12 d-flex justify-content-center" *ngIf="cliente.pais">

        <svg class="bi bi-geo-alt" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>

        <label >&nbsp;&nbsp;{{cliente.pais}}&nbsp;&nbsp;</label>
        <label >{{cliente.ciudad}}&nbsp;&nbsp;</label>
        <br>
        <svg class="bi bi-house-door" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
            <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
          </svg>
        <label >&nbsp;&nbsp;{{cliente.direccion}}&nbsp;&nbsp;</label>
        <label >{{cliente.barrio}}&nbsp;&nbsp;</label>
        <a class="btn btn-success mr-1" role="button" routerLink='/agregarUbicacion/{{cliente.correo}}'>Modificar ubicación</a>
    </div>
    <div *ngIf="cliente.pais==null">
        <a class="btn btn-success mr-1" role="button" routerLink='/agregarUbicacion/{{cliente.correo}}'>Agregar ubicación</a>
    </div>
    <hr>
    <div class="col-sm-12 d-flex justify-content-center" >
        <label>Total del pedido: &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label>{{totalPedido | currency: ' COP ' :true:'1.1-2' }}</label>
        <br>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Total domicilio: &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label>{{30000| currency: ' COP ' :true:'1.1-2' }}</label>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;Total a pagar: &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label>{{totalPedido+30000 | currency: ' COP ' :true:'1.1-2' }}</label>
    </div>
    <br>
    <div class="col-sm-12 d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary" role="button" (click)="atras()">&laquo;Atrás</button>
            </div>
            <div class="col" *ngIf="cliente.pais">
                <button class="btn btn-secondary" role="button" (click)="postPedido()">Pagar&raquo;</button>
            </div>
        </div>
    </div>

</div>

    <hr>
  <footer class="container">
    <p>&copy; Company 2017-2019</p>
  </footer>