<div class="container">

    <div class="row">
    
    <div class="col-md-6 offset-md-3">
    
    <h2 class="text-success text-center PaddingText"><strong>REGISTRO DE PRODUCTOS DEL PROVEEDOR</strong></h2>
    
    <form [formGroup]="formGroup" id="Padding">
    
    <div class="row">
    <div class="form-group col">

      <br>
    
    <input autocomplete="off" type="text" name="nombre" formControlName="nombre" class="form-control sinborde" 
    placeholder="Nombre" [ngClass]="{ 'is-invalid': control.nombre.errors && formGroup.get('nombre').touched}"
  
    />
    
    <div *ngIf="control.nombre.errors" class="invalid-feedback">
  
      <div *ngIf="control.nombre.errors.required">Se require el nombre</div>
      
    </div>
    </div>
    
    <div class="form-group col">
    
      <br>
  
      <textarea type="text" name="descripcion" formControlName="descripcion" class="form-control sinborde" 
      placeholder="Descripción..." [ngClass]="{ 'is-invalid': control.descripcion.errors && formGroup.get('descripcion').touched}"></textarea>
  
      <div *ngIf="control.descripcion.errors" class="invalid-feedback">
  
        <div *ngIf="control.descripcion.errors.required">Se require una descripción</div>
        
      </div>
    
    </div>
  
  </div>

    <div class="row">
    
      <div class="form-group col">
    
        <br>
        
        <input type="number" name="precio" formControlName="precio" class="form-control sinborde" 
        placeholder="Precio" [ngClass]="{ 'is-invalid': control.precio.errors && formGroup.get('precio').touched}"/>
  
          <div *ngIf="control.precio.errors" class="invalid-feedback">
  
            <div *ngIf="control.precio.errors.required">Se require el precio del producto</div>
            <div *ngIf="control.precio.errors.minlength">El precio debe ser mayor de 100 pesos</div>
          </div>
     </div>
     <div class="form-group col">
  
        <br>
        
        <select name="tipo" class="form-control sinborde" formControlName="tipo"
        [ngClass]="{ 'is-invalid': control.tipo.errors && formGroup.get('tipo').touched}">

          <option value="">Tipo de fruta</option>
      
          <option value="Fruta">Fruta</option>
      
          <option value="Verdura">Verdura</option>
  
          <option value="Hortaliza">Hortaliza</option>
      
        </select>

        <div *ngIf="control.tipo.errors" class="invalid-feedback">
        
          <div *ngIf="control.tipo.errors.required">Se require el tipo de producto.</div>
          
        </div>
        
        </div>
  
  </div>
  <br>
  
    <div class="text-center">
        
    <button class="btn btn-success mr-1"(click)="onSubmit()" [disabled]="formGroup.invalid">Registrar</button>
    
    <button class="btn btn-secondary" type="reset">Cancel</button>
    
    </div>
    
    </form>
    
    </div>
    
    </div>
    
    </div>
  
    <footer class="footer">
      <p id="margen">&copy; Company 2017-2019</p>
    </footer>
